body
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    overflow-y: hidden;
}

@media(prefers-color-scheme: dark)
{
    body
    {
        background-color: #212121;
        color: #FFFFFF;
    }
}
@media(prefers-color-scheme: light)
{
    body
    {
        background-color: #F3F3F3;
        color: #212121;
    }
}

::-webkit-scrollbar
{
    width: 0 !important;
    display: none;
}

h1, h2
{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding: 0 0 0 0;
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 0;
    color: #ffffff;
}

h2 > .label-desc
{
    padding-top: 4px;
    padding-bottom: 7px;
    font-size: 0.90rem;
    font-weight: 200;
    white-space: normal;
    color: #c4c4c4;
}

#container
{
    overflow: hidden;
    justify-content: center;
    display: flex;
    height: 100%;
    overflow-y: hidden;
}

#data-container {
    text-align: left;
}

#data-container > label {
    text-align: left;
    font-size: 0.95rem;
    padding-bottom: 0px;
    font-weight: 200;
    display: none !important;
}

#data-container > description {
    text-align: left;
    font-size: 0.83rem;
    padding-bottom: 10px;
    opacity: 0.5;
    font-weight: 100;
}

#label {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding: 0 0 0 0;
    font-size: 1.5em;
    font-weight: 100;
}

#description {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0.8em;
    padding: 0;
    white-space: wrap;
    font-size: 0.85em;
}

#data {
    border-radius: 2px;
    background: #fff;
    width: 90%;
    padding: 0.4em 0.5em;
    border: 1px solid black;
    min-height: 2em;
    margin: 0 0 1.2em;
}

select#data {
    height: 2em;
}

#buttons
{
    text-align: right;
    padding: 0 0 0 0;
}

#buttons > button,
#buttons > input[type="submit"]
{
    padding: 9px 15px 7px 15px !important;
    border-radius: 2px !important;
    border: 0 !important;
    margin: 0 0 0 0.5em !important;
    font-size: 0.85rem !important;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
}

#buttons > button:hover,
#buttons > button:focus
{
    cursor: pointer;
}

#ok, #custom
{
    background-color: hsl(140, 75%, 34%);
    color: #FFFFFF;
}

#ok:hover, #custom:hover
{
    background-color: hsl(140, 75%, 45%);
    color: #FFFFFF;
}

#ok:focus, #custom:focus
{
    outline: none;
    filter: brightness(1.1);
}

#cancel
{
    background-color: hsl(5, 75%, 44%);
    color: #FFFFFF;
}

#cancel:hover
{
    background-color: hsl(5, 75%, 55%);
    color: #FFFFFF;
}

#cancel:focus
{
    outline: none;
    filter: brightness(1.1);
}

.clearButton
{
    background-color: hsl(219, 55%, 44%);
    color: #FFFFFF;
}

.clearButton:hover
{
    background-color: hsl(219, 55%, 55%);
    color: #FFFFFF;
}
.clearButton:focus
{
    outline: none;
    filter: brightness(1.1);
}







#ok:hover, #ok:focus,
#custom:hover, #custom:focus
#cancel:hover, #cancel:focus {
    outline: none;
    filter: brightness(1.1);
}

#cancel, .clearButton {
    background-color: hsl(5, 75%, 44%);
    color: #FFFFFF;
}

#ok, #custom, .clearButton {
    background-color: hsl(140, 75%, 34%);
    color: #FFFFFF;
}

span {
    cursor: pointer;
}

.minus, .plus {
    background: rgb(0, 0, 0);
    user-select: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    padding: 8px 5px;
    border: 1px solid #686868;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

select:hover {
    cursor: pointer;
}

option {
    background-color: #07070C;
}

div.keybind {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    row-gap: 20px;
    column-gap: 10px;
    margin: auto 0;
    justify-content: center;
}

div.keybind button {
    width: auto;
}

div.keybind label {
    text-align: right;
}

div.keybind label:after {
    content: ":";
}

.clearButton:focus {
    outline: none;
}

.clearButton:hover {
    background-color: rgb(5, 5, 5);
}

.keybindData:hover {
    border: 1px solid rgb(56, 0, 0);
}

.keybindData:focus {
    outline: 3px solid #1E0919;
    border: 1px solid rgb(56, 0, 0);
}

#form
{
    width: 100%;
    padding-top: 0.5rem !important;
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
}

.label-desc
{
    padding-top: 4px;
    padding-bottom: 7px;
    font-size: 0.90rem;
    font-weight: 200;
    white-space: normal;
    color: #c4c4c4;
}

#data, .keybindData
{
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    font-size: 12pt;
    font-weight: 100;
}

@media(prefers-color-scheme: dark){
    #data, .keybindData
    {
        background: rgb(50 50 50);
        color: #fff;
        border: 1px solid rgb(54, 54, 54);
    }
}

@media(prefers-color-scheme: light){
    #data, .keybindData
    {
        background: rgb(226, 226, 226);
        color: #000;
        border: 1px solid rgb(200, 200, 200);
    }
}

.password-field
{
    margin-bottom: 1.5rem;
}

#data option
{
    background: rgb(34, 34, 34);
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 100;
    cursor: pointer;
    border-radius: 0;
}

#data:hover
{
    border: 1px solid rgb(85, 85, 85);
}

#data:focus
{
    outline: unset;
    border: 1px solid rgb(85, 85, 85);
}

.p-btm
{
    margin-bottom: 0.1rem;
}

#note {
    font-size: 0.75rem;
    opacity: 0.9;
    font-weight: 100;
    margin-top: -1em;
    margin-bottom: 1em;
    font-style: italic;
}